.output span {
  display: none;
}

.q-answers {
  margin-bottom: 2.5em;
  margin-top: -0.5em;
}

input {
  appearance: none;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  border: .1em dashed black;
}

input:checked {
  background: darkred;
}
