body {
  background: #ffe5d9;
}

.jumbotron {
  margin: auto;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  background: #ffcad4;
  width: 80%;
  text-transform: capitalize;
}

#found-it {
  display: none;
}

.blurb {
  margin: 3em auto;
  max-width: 80%;
}

.output div {
  display: none;
  background: none;
}

.q-answers {
  margin-bottom: 2.5em;
  margin-top: -0.5em;
}

.question, button {
  margin: auto;
}

input {
  appearance: none;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  border: .1em dashed #f4acb7;
}

input:checked {
  background: #f4acb7;
  border: .1em solid #ffcad4;
}