body {
  background: #ffe5d9;
}

.jumbotron {
  margin: auto;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  background: #ffcad4;
  min-width: 80%;
  text-transform: capitalize;
}

.jumbotron p {
  text-align: left;
  font-family: initial;
  font-weight: initial;
  text-transform: none;
}

#found-it {
  display: none;
}

.intro-blurb {
  margin: 3em auto;
  max-width: 80%;
}

.output div {
  display: none;
  background: none;
}

.q-answers {
  margin-bottom: 2.5em;
  margin-top: -0.5em;
}

.question {
  margin: auto;
}

button {
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
}

input {
  appearance: none;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  border: .1em dashed #f4acb7;
}

input:checked {
  background: #f4acb7;
  border: .1em solid #ffcad4;
}

a, a:hover {
  color: #54ac96;
  font-weight: bold;
}